.header {
  background-color: var(--main-color);
  color: var(--light-text-color);
  font-size: 20px;
  height: 72px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.group {
  margin-left: auto;
}

.option {
  margin-left: 20px;
}