@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('normalize.css');
@import url('general.css');
@import url('form.css');
@import url('./header.css');
@import url('table.css');

:root {
    --main-color: #4a148c;
    --light-main-color: #7c43bd;
    --secondary-color: #1890ff;
    --dark-secondary-color: #0063cb;
    --light-secondary-color: #6cafff;
    --dark-text-color: rgba(0, 0, 0, 0.85);
    --light-text-color: #fff;
    --error-color: #b00200;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100vh;
    color: var(--dark-text-color);
}

